*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 120vh;
}


/********base**************/
a,
a:link {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

a:hover,
a:link:hover {
  color: #ccc;
}

/************Header***********/
.header{
    background-color: red;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 150px;
    z-index: 9999;
}

.logo a{
color: #fff;
text-decoration: none;
font-size: 28px;
font-weight:500;

}

.logo a:hover{
    color:black;
}

.input {
  height: 36px; 
  display: flex;
  align-items: center;
  width: 300px;
}


.search-input{
    height: 100%;
    border-radius: 8px;
    border: transparent;
    padding:0 20px;
    width: 300px;
}

.search-input:focus{
    outline: none;
}

.btn-search {
  display: flex;
  align-items: center;  
  width: 40px;
  height: 30px;
  background-color: red;
  align-items: center;
  justify-content: center;
  margin-left: -45px;
}

.btn-search ion-icon{
    font-size: 20px;
    color: #fff;
}

.btn-search:hover ion-icon{
    color: black;
}

.nav{
    font-size: 14px;
    display: flex;
}

.nav-item{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all 0.3s;
   
}

.nav-item:not(:last-child){
    margin-right: 30px;
}

.nav-item ion-icon{
    font-size: 20px;
}

.nav-item:hover{
    color: black;
}


h3{
    font-size: 20px;
}

.text p{
    font-size: 16px;
}

/*************Footer**************/
.footer {
  padding: 50px 150px;
  border-top: 4px solid #f0f0f0;
  padding-bottom: 0;
}

.footer,
.footer a {
  color: #999;
  font-size: 1.4rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer ul {
  list-style: none;
}

.footer li {
  line-height: 1.9;
}

.footer a:hover {
  color: #000;
}

.footer .lang-select {
  margin-top: 2rem;
  color: #999;
  background-color: #000;
  background-image: none;
  border: 1px solid #333;
  padding: 1rem 1.2rem;
  border-radius: 5px;
}

.img {
  display: inline-block;
}

.copyright {
  text-align: center;
  margin-top: 20px;
}

.footer:hover {
  border-top: 4px solid red;
}